.task  {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 16px;

    margin-top: 3rem;

    background: var(--gray-500);

    border: 1px solid var(--gray-300);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

}

.task p {
    font-size: 0.87rem;
    line-height: 140%;
    color: var(--gray-100);
}

.task button {
    border: 0;
    background: none;

    cursor: pointer;
    color: white;
}

.task button:hover {
    border: 1px solid var(--delete);
}

.tasks {
    width: 736px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray-400);
}

.create {
    display: flex;
    gap: 8px;

    font-size: 0.87rem;
    font-weight: bold;
    line-height: 1rem;

    color: var(--blue);
}

.create span {
    width: 25px;
    height: 19px;


    background: var(--gray-400);
    border-radius: 999px;
} 

.create span p {
    color: var(--gray-200);
    margin: 1.5px 7.2px;
}

.concluded {
    display: flex;
    gap: 8px;
    font-size: 0.87rem;
    font-weight: bold;

    color: var(--purple);
}

.concluded span {
    width: 25px;
    height: 19px;


    background: var(--gray-400);
    border-radius: 999px;
} 

.concluded span p {
    color: var(--gray-200);
    margin: 1.5px 7.2px;
}